torch[torchvision] --index-url https://download.pytorch.org/whl/cu121
opencv-python
pillow
albumentations
requests
label-studio-ml
label-studio-converter
transformers
gunicorn
rq
matplotlib
torch
opencv-python-headless>=4.5.0
torchvision
tensorboard